@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 2%
    left: -80%
    /*width: 100%*/
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 10%
    width: 20%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)


.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important

    
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $color-sistema-texto !important  
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $color-sistema-texto !important  
figcaption 
  font-weight: normal !important

.titulo-principal__numero span
  color: $color-sistema-texto !important 
.banner-interno__fondo
  background-image: url(../assets/curso/temas/bg/banner.png) !important
  background-size: cover
  background-repeat: no-repeat


/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    background-image: url(../assets/curso/temas/bg/bg-t2.png)
    background-size: cover
    background-repeat: no-repeat
.bg-color
  &-1
    background-color: $color-primario
  &-2
    background-color: #D6E6A0 
  &-3
    background-color: #FFF4ED !important
  &-4
    background-color: #CCD9DC 
  &-5
    background-color: #F5F9E7 !important
  &-6
    background-color: #E5FAFE 
  &-7
    background-color: #FFD5B7 
  &-8
    background-color: #FCE299 !important
  &-9
    background-color: #FEF1CC !important
  &-10
    background-color: $color-acento-contenido
  &-11
    background-color: $color-secundario



.subt
  display: flex
  align-items: center
  position: relative  
  width: fit-content  
  img
    width: 65px
    z-index: 1
  h3 
    z-index: 1
  &::before
    content: ''
    position: absolute
    background-color: #F8B700 
    border-radius: 100px
    width: 100%
    height: 65%
    z-index: 0
.subt-2
  position: relative
  width: fit-content
  h4
    z-index: 1
    padding: 0 1rem 0.75rem 1rem
  &::before
    content: ''
    position: absolute
    background-color: #98C113
    border-radius: 100px
    width: 100%
    height: 6px
    bottom: 0
    z-index: 0


.w-85x
  width: 85px
.w-50x
  width: 50px
.text-dark
  h4, p
    color: $color-sistema-texto !important
.fa-lista
  li
    display: flex !important
    align-items: flex-start
  li:before
    position: relative
    margin-right: 7px
    font-size: 1.4rem 
.t2-tmin table
  min-width: 550px
.tabla-a.color-acento-contenido
  thead
    background-color: #CCD9DC
.tabla-a.color-acento-contenido.t2-dis
  thead
    background-color: $color-acento-contenido
  tbody
    tr:nth-child(2n+1)
      background-color: #FFF4ED
.tarjeta--boton.bg-color-4:hover
  cursor: inherit
  background-color: #E5FAFE
.tarjeta--boton.bg-color-3:hover
  cursor: inherit
  background-color: #FFD5B7 !important
.tarjeta--boton.bg-color-9:hover
  cursor: inherit
  background-color: #FCE299 !important
.acordion
  &__activo
    background-color: #E5FAFE
  &__accion__btn--a
    background-color: $color-acento-botones
  &__accion__btn--b
    background-color: $color-acento-botones
    border-color: $color-acento-botones
.tabs-a
  &__tab
    background-color: #CCD9DC
    &__text
      color: $color-sistema-texto
.tarjeta-audio__texto
  color: $color-sistema-texto !important
  font-weight: 400 !important
  font-style: normal !important
.slyder-f__btn i
  color: $color-acento-botones
.tabs-b
  &__tab
    background-color: #FFD5B7
    .tabs-b__tab__icon
      background-color: $color-acento-botones
      width: 65px
      height: 65px
      padding: 7px
      border-radius: 100%
      img
        width: 100%
        height: 100%
        object-fit: contain
    &--active
      background-color: #E5FAFE
      .tabs-b__tab__icon 
        background-color: #663C1E    
        img
          filter: sepia(1)  
    &__title
      font-size: 1em
.tarjeta-avatar-b
  align-items: center
  .tarjeta 
    min-height: 98px
    display: flex
    align-items: center


/**************************************************************/
/*Media Queries*/  
/**************************************************************/
@media screen and (min-width: $bp-min-xl)
  .col-lg-d5
    flex: 0 0 auto !important
    width: 20% !important
  .tabs-a  
    .col-xl-3
      width: 30%
    .col-xl-9
      width: 70%

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

  
 
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .subt::before
    height: 90%

  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important
  .subt::before
    height: 90%

  
 